{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "globals": {
    "window": true,
    "document": true,
    "history": true,
    "confirm": true,
    "console": true,
    "customElements": true,
    "Intl": true
  }
}